
TPMpresentasion/app/Console/Kernel.php
TPMpresentasion/app/Http/Controllers/Auth/ConfirmPasswordController.php
TPMpresentasion/app/Http/Controllers/Auth/ForgotPasswordController.php
TPMpresentasion/app/Http/Controllers/Auth/LoginController.php
TPMpresentasion/app/Http/Controllers/Auth/RegisterController.php
TPMpresentasion/app/Http/Controllers/Auth/ResetPasswordController.php
TPMpresentasion/app/Http/Controllers/Auth/VerificationController.php
TPMpresentasion/app/Http/Controllers/HomeController.php
TPMpresentasion/app/Http/Controllers/ProductController.php
TPMpresentasion/app/Http/Kernel.php
TPMpresentasion/app/Http/Middleware/Authenticate.php
TPMpresentasion/app/Http/Middleware/EncryptCookies.php
TPMpresentasion/app/Http/Middleware/PreventRequestsDuringMaintenance.php
TPMpresentasion/app/Http/Middleware/RedirectIfAuthenticated.php
TPMpresentasion/app/Http/Middleware/TrimStrings.php
TPMpresentasion/app/Http/Middleware/TrustHosts.php
TPMpresentasion/app/Http/Middleware/TrustProxies.php
